.header {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
