/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#6bc2df, #4ccbf5);
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 100vh;
}

.temperature-section {
  display: flex;
  flex-direction: column;
  color: white;
}

.temperature-section * {
  display: flex;
  justify-content: center;
}

.temperature {
  font-size: 1.5em;
}

.day-type {
  font-size: 1.2em;
}

.five-day {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.weather-map {
  border-radius: .5em;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #53b9db;
  padding: 0.5em 0.5em 0em 0.5em;
  margin: 0.5em;
  min-width: 12em;
}

.weather-entry {
  background-color: #6bc2df;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0em 0.5em;
  border-radius: 0.5em;
}

.weather-details {
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.weather-details span {
  display: flex;
  justify-content: left;
}

.weather-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-bottom: 1em;
}

.weather-icon img {
  width: 50px;
  height: 50px;
  margin: 0px;
}

.currentday-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.currentday-section div {
  margin: 0.5em;
}

.currentday-section h1, .currentday-section h2, .currentday-section h3 {
  margin: 0.25em;
}

.day-header {
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}

.currentday-weather {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.currentday-timetemp {
  display: flex;
  flex-direction: column;
  padding: 1em;
}